adapt articles 2.json
{
  "name": "adapt articles 2",
  "nodes": [
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "c71e4862-f657-4112-ab9a-bceb163df41f",
      "name": "Split LLM — Batches of 1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-ready-found",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "021737e6-164a-43e0-ab80-10258a6f5a70",
      "name": "IF — Ready Articles Found? (≥1)2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -272,
        16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7f3f2075-9d41-44bf-8366-6d6e32242502",
      "name": "Split — Enrich 1 by 2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1072,
        336
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "24634bad-3e2c-45aa-b006-c4d69225c731",
      "name": "Cron — Every 20 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        336
      ]
    },
    {
      "parameters": {
        "collection": "articles",
        "options": {
          "limit": 30,
          "sort": "{ \"createdAt\": 1 }"
        },
        "query": "{ \"status\": \"raw\" }"
      },
      "id": "71e80002-a3db-4e35-a024-86f8fa3680b2",
      "name": "MongoDB — Query Raw Articles",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -1344,
        336
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        16
      ],
      "id": "2eb9ffb5-f4d2-4a7c-b272-1b8b11d0bf4a",
      "name": "Wait",
      "webhookId": "b38a245f-185a-4859-b98c-b61497ef7883"
    },
    {
      "parameters": {
        "collection": "articles",
        "options": {
          "limit": 30,
          "sort": "{ \"createdAt\": 1 }"
        },
        "query": "{ \"status\": \"ready\" }"
      },
      "id": "75bc1bf3-93ee-459b-b6e5-1710ff3fd560",
      "name": "MongoDB — Query Ready Articles",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -560,
        16
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "console.log('[BriefAI W2] Nessun articolo ready per LLM. Fine pipeline.');\nreturn [];"
      },
      "id": "2b535eb0-aae9-4a0e-9f87-4fd10baea1df",
      "name": "Stop — No Ready Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const MACRO_TOPICS = [\n  'Intelligenza Artificiale',\n  'Cybersecurity',\n  'Business & Finanza',\n  'Politica & Geopolitica',\n  'Startup & Innovazione',\n  'Software & Sviluppo',\n  'Scienza & Ricerca',\n  'Energia & Ambiente',\n  'Economia & Mercati',\n  'Social Media & Cultura',\n  'Salute & Medicina',\n  'Trasporti & Mobilità'\n];\n\nconst articles = $input.all().map(i => i.json);\n\nconst articleList = articles.map((a, i) => {\n  const title = String(a.title || '').trim();\n  // content è già pulito da HTML dalla fase di enrichment\n  const content = String(a.content || a.contentSnippet || '').trim().substring(0, 500);\n  const source = String(a.source || a.__sourceName || '').trim();\n  const pubDate = String(a.pubDate || a.isoDate || '').trim();\n  const url = String(a.url || '').trim();\n  const uniqueKey = String(a.uniqueKey || a._id || `article-${i + 1}`).trim();\n\n  return [\n    `[${i + 1}] UNIQUEKEY: ${uniqueKey}`,\n    `TITOLO: ${title}`,\n    `FONTE: ${source}`,\n    `DATA: ${pubDate}`,\n    `CONTENUTO: ${content}`,\n    `URL: ${url}`\n  ].join('\\n');\n}).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `Sei un assistente di business intelligence. Analizza ogni articolo e restituisci SOLO un JSON array valido con questa struttura per ciascun articolo:\n[\n  {\n    \"index\": <numero intero 1-based>,\n    \"uniqueKey\": \"<uniqueKey_esatto_dall_input>\",\n    \"summary\": \"<riassunto in italiano max 50 parole>\",\n    \"sentiment\": \"<Positive | Negative | Neutral>\",\n    \"entities\": [\"<entita1>\", \"<entita2>\"],\n    \"macroTopics\": [\"<topic_dalla_lista>\"]\n  }\n]\n\nREGOLA CRITICA per macroTopics:\n- Scegli SOLO valori da questa lista: ${MACRO_TOPICS.join(', ')}\n- Minimo 1, massimo 3 valori per articolo\n- Non inventare mai topic nuovi o varianti\n- Se nessun topic è pertinente, usa [\"Scienza & Ricerca\"]\n\nREGOLA CRITICA per uniqueKey:\n- Copia esattamente il valore UNIQUEKEY fornito nell'input\n- Se non sei sicuro, usa comunque la stessa stringa mostrata nell'articolo\n\nNessun testo aggiuntivo. Nessun markdown. Solo JSON puro.`;\n\nconst userPrompt = `Analizza i seguenti ${articles.length} articoli:\n\n${articleList}`;\n\nreturn [{\n  json: {\n    articles,\n    batchSize: articles.length,\n    payload: {\n      model: 'openrouter/free',\n      max_tokens: 2500,\n      temperature: 0.2,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "1ed42502-8cdb-4033-9019-ed67afeca23c",
      "name": "Prepare LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://briefai.local"
            },
            {
              "name": "X-Title",
              "value": "BriefAI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 45000
        }
      },
      "id": "69af1a2f-bbf8-4120-a763-12738913d74a",
      "name": "OpenRouter — LLM Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        16
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fzSIeS531Tw4HO7l",
          "name": "Header Auth account"
        }
      },
      "notes": "La credential httpHeaderAuth deve iniettare Authorization: Bearer <OPENROUTER_KEY>."
    },
    {
      "parameters": {
        "jsCode": "const VALID_TOPICS = new Set([\n  'Intelligenza Artificiale',\n  'Cybersecurity',\n  'Business & Finanza',\n  'Politica & Geopolitica',\n  'Startup & Innovazione',\n  'Software & Sviluppo',\n  'Scienza & Ricerca',\n  'Energia & Ambiente',\n  'Economia & Mercati',\n  'Social Media & Cultura',\n  'Salute & Medicina',\n  'Trasporti & Mobilità'\n]);\n\nconst DEFAULT_TOPIC = ['Scienza & Ricerca'];\n\nconst prepareOutput = $('Prepare LLM Prompt').first().json;\nconst articles = prepareOutput.articles || [];\nconst llmRoot = $input.first().json;\nconst llmBody = llmRoot.body ?? llmRoot;\nconst statusCode = llmRoot.statusCode ?? llmBody?.statusCode ?? 200;\n\nconst results = [];\n\nfunction sanitizeTopics(raw) {\n  if (!Array.isArray(raw) || raw.length === 0) return DEFAULT_TOPIC;\n  const valid = raw.filter(t => VALID_TOPICS.has(t));\n  return valid.length > 0 ? valid : DEFAULT_TOPIC;\n}\n\nfunction cleanText(value) {\n  return String(value || '')\n    .replace(/```json|```/gi, '')\n    .trim();\n}\n\nfunction getResponseContent(body) {\n  if (!body) return '';\n  if (typeof body === 'string') return body;\n  if (typeof body === 'object') {\n    return body.choices?.[0]?.message?.content\n      ?? body.output_text\n      ?? body.message?.content\n      ?? '';\n  }\n  return '';\n}\n\nfunction extractJsonArray(raw) {\n  const cleaned = cleanText(raw);\n  const firstArray = cleaned.match(/\\[[\\s\\S]*\\]/);\n  if (firstArray) return firstArray[0];\n  return cleaned;\n}\n\nfunction fallbackSummary(article) {\n  const candidate = String(\n    article.contentSnippet ||\n    article.content ||\n    article.title ||\n    ''\n  ).replace(/\\s+/g, ' ').trim();\n\n  return candidate.substring(0, 300);\n}\n\nfunction buildFallback(errorMessage) {\n  for (const article of articles) {\n    results.push({\n      json: {\n        _id: article._id,\n        uniqueKey: article.uniqueKey,\n        summary: fallbackSummary(article),\n        sentiment: 'Neutral',\n        entities: [],\n        macroTopics: DEFAULT_TOPIC,\n        aiProcessed: false,\n        aiError: errorMessage,\n        processedAt: new Date().toISOString(),\n        status: 'processed'\n      }\n    });\n  }\n  return results;\n}\n\nconst rawContent = getResponseContent(llmBody);\n\nif (statusCode !== 200 || !rawContent) {\n  console.warn('[BriefAI W2] Fallback attivato. HTTP status:', statusCode);\n  return buildFallback(`HTTP ${statusCode} — LLM non disponibile`);\n}\n\nlet parsed = [];\ntry {\n  const jsonText = extractJsonArray(rawContent);\n  parsed = JSON.parse(jsonText);\n  if (!Array.isArray(parsed)) throw new Error('Risposta non è un array JSON');\n} catch (e) {\n  console.error('[BriefAI W2] JSON parse error:', e.message);\n  return buildFallback('JSON parse error: ' + e.message);\n}\n\nconst aiByIndex = {};\nconst aiByKey = {};\n\nfor (const item of parsed) {\n  if (!item || typeof item !== 'object') continue;\n  if (Number.isInteger(item.index)) aiByIndex[item.index] = item;\n  if (typeof item.uniqueKey === 'string' && item.uniqueKey.trim()) {\n    aiByKey[item.uniqueKey.trim()] = item;\n  }\n}\n\nfor (let i = 0; i < articles.length; i++) {\n  const article = articles[i];\n  const ai = aiByKey[String(article.uniqueKey || '').trim()] || aiByIndex[i + 1] || {};\n\n  const summary = String(ai.summary || fallbackSummary(article)).replace(/\\s+/g, ' ').trim().substring(0, 300);\n  const sentiment = ['Positive', 'Negative', 'Neutral'].includes(ai.sentiment) ? ai.sentiment : 'Neutral';\n\n  results.push({\n    json: {\n      _id: article._id,\n      uniqueKey: article.uniqueKey,\n      summary,\n      sentiment,\n      entities: Array.isArray(ai.entities) ? ai.entities : [],\n      macroTopics: sanitizeTopics(ai.macroTopics),\n      aiProcessed: true,\n      aiError: null,\n      processedAt: new Date().toISOString(),\n      status: 'processed'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "b3dadb95-d7da-47af-8f80-b646f572542e",
      "name": "Parse LLM Response + Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        16
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "articles",
        "updateKey": "uniqueKey",
        "fields": "summary, sentiment, entities, macroTopics, aiProcessed, aiError, processedAt, status",
        "options": {}
      },
      "id": "7367a990-7fb0-4be1-a2f7-73be191d41ce",
      "name": "MongoDB — Update to Processed",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1120,
        16
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const count = $input.all().length;\nconsole.log('[BriefAI W2] ✅ Batch LLM elaborato: ' + count + ' articoli → processed.');\nreturn $input.all();"
      },
      "id": "addd0c5d-4a6f-4021-90a4-6f2415b77d04",
      "name": "Log — Batch LLM Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-reuters",
              "leftValue": "={{ ($json.source || $json.__sourceName || '').toLowerCase() }}",
              "rightValue": "reuters",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "abd78724-3d22-4a14-82b8-415f24879dcf",
      "name": "IF — Is Reuters?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -768,
        576
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 8
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "3e6decc7-b130-4fac-bd11-beb6ba6477d6",
      "name": "HTTP — Fetch Reuters Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        480
      ],
      "continueOnFail": true,
      "notes": "Best-effort: Reuters può bloccare lo scraping. Il nodo continueOnFail garantisce che la pipeline non si blocchi."
    },
    {
      "parameters": {
        "jsCode": "const httpRes = $input.first().json;\nconst article = $('IF — Is Reuters?').first().json;\n\nlet content = '';\nlet enrichmentOk = false;\n\nconst statusCode = httpRes.statusCode || 0;\nconst rawBody = typeof httpRes.body === 'string'\n  ? httpRes.body\n  : (httpRes.body ? JSON.stringify(httpRes.body) : '');\n\nfunction decodeHtmlEntities(str) {\n  return String(str || '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&#10;/g, ' ')\n    .replace(/&#13;/g, ' ');\n}\n\nfunction cleanText(str) {\n  return decodeHtmlEntities(str)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<header[\\s\\S]*?<\\/header>/gi, ' ')\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi, ' ')\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi, ' ')\n    .replace(/<aside[\\s\\S]*?<\\/aside>/gi, ' ')\n    .replace(/<!--[\\s\\S]*?-->/g, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nif (statusCode >= 200 && statusCode < 400 && rawBody.length > 300) {\n  try {\n    const text = cleanText(rawBody);\n\n    if (text.length > 300) {\n      content = text.substring(0, 3000);\n      enrichmentOk = true;\n      console.log('[BriefAI W2] ✅ Reuters arricchito (' + text.length + ' chars): ' + (article.title || '').substring(0, 60));\n    } else {\n      console.warn('[BriefAI W2] ⚠️ Testo troppo corto (' + text.length + ' chars), fallback necessario.');\n    }\n  } catch (e) {\n    console.error('[BriefAI W2] ❌ Errore estrazione Reuters:', e.message);\n  }\n} else {\n  console.warn('[BriefAI W2] ⚠️ HTTP ' + statusCode + ' per ' + (article.url || ''));\n}\n\nif (!enrichmentOk) {\n  let fallback = article.contentSnippet || article.content || '';\n  fallback = cleanText(fallback);\n\n  if (!fallback || fallback.length < 50) {\n    const title = (article.title || '').trim();\n    const source = (article.source || '').trim();\n    fallback = `${title}. (${source}) Notizia recente: ${title.toLowerCase()}.`;\n  }\n\n  content = fallback;\n  console.warn('[BriefAI W2] 🔄 Fallback usato: ' + (article.title || '').substring(0, 60));\n}\n\nreturn [{\n  json: {\n    ...article,\n    content,\n    status: 'ready',\n    enrichedAt: new Date().toISOString(),\n    enrichmentOk\n  }\n}];"
      },
      "id": "af360578-5c97-4e4f-9992-4e02fd9b1384",
      "name": "Extract Reuters Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "articles",
        "updateKey": "uniqueKey",
        "fields": "content, status, enrichedAt, enrichmentOk",
        "options": {}
      },
      "id": "e87e1cf1-230c-4207-82d3-0456050f9189",
      "name": "MongoDB — Update Enriched (Reuters)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        112,
        480
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-hackernews",
              "leftValue": "={{ ($json.source || $json.__sourceName || '').toLowerCase() }}",
              "rightValue": "hacker",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5851668a-e8d8-4a36-92d7-bc3e0b3c483b",
      "name": "IF — Is Hacker News?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -544,
        848
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 8
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "cb66d1ec-0f7f-4ca0-a889-db0d4fd1adbe",
      "name": "HTTP — Fetch HN Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        736
      ],
      "continueOnFail": true,
      "notes": "Fetcha la pagina esterna linkata dalla notizia HN. continueOnFail evita blocchi su siti irraggiungibili."
    },
    {
      "parameters": {
        "jsCode": "const httpRes  = $input.first().json;\nconst article  = $('IF \\u2014 Is Hacker News?1').first().json;\n\nlet content      = '';\nlet enrichmentOk = false;\n\nconst statusCode = httpRes.statusCode || 0;\nconst rawBody    = typeof httpRes.body === 'string'\n  ? httpRes.body\n  : (httpRes.body ? JSON.stringify(httpRes.body) : '');\n\nfunction decodeHtmlEntities(str) {\n  return String(str || '')\n    .replace(/&nbsp;/g,  ' ')\n    .replace(/&amp;/g,   '&')\n    .replace(/&lt;/g,    '<')\n    .replace(/&gt;/g,    '>')\n    .replace(/&quot;/g,  '\"')\n    .replace(/&#39;/g,   \"'\")\n    .replace(/&#x27;/g,  \"'\")\n    .replace(/&#10;/g,   ' ')\n    .replace(/&#13;/g,   ' ');\n}\n\nfunction cleanText(str) {\n  return decodeHtmlEntities(str)\n    .replace(/<script[\\s\\S]*?<\\/script>/gi,     ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi,       ' ')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, ' ')\n    .replace(/<header[\\s\\S]*?<\\/header>/gi,     ' ')\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi,           ' ')\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi,     ' ')\n    .replace(/<aside[\\s\\S]*?<\\/aside>/gi,       ' ')\n    .replace(/<!--[\\s\\S]*?-->/g,                ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nif (statusCode >= 200 && statusCode < 400 && rawBody.length > 300) {\n  try {\n    const text = cleanText(rawBody);\n    if (text.length > 300) {\n      content      = text.substring(0, 3000);\n      enrichmentOk = true;\n      console.log('[BriefAI W2] \\u2705 HN arricchito (' + text.length + ' chars): ' + (article.title || '').substring(0, 60));\n    } else {\n      console.warn('[BriefAI W2] \\u26a0\\ufe0f Testo HN troppo corto (' + text.length + ' chars), uso fallback.');\n    }\n  } catch (e) {\n    console.error('[BriefAI W2] \\u274c Errore estrazione HN:', e.message);\n  }\n} else {\n  console.warn('[BriefAI W2] \\u26a0\\ufe0f HTTP ' + statusCode + ' per HN url: ' + (article.url || ''));\n}\n\nif (!enrichmentOk) {\n  let fallback = article.contentSnippet || article.content || '';\n  fallback = cleanText(fallback);\n  if (!fallback || fallback.length < 50) {\n    const title  = (article.title  || '').trim();\n    const source = (article.source || '').trim();\n    fallback = title + '. (' + source + ') ' + title.toLowerCase() + '.';\n  }\n  content = fallback;\n  console.warn('[BriefAI W2] \\ud83d\\udd04 Fallback HN usato: ' + (article.title || '').substring(0, 60));\n}\n\nreturn [{\n  json: {\n    ...article,\n    content,\n    status:      'ready',\n    enrichedAt:  new Date().toISOString(),\n    enrichmentOk\n  }\n}];"
      },
      "id": "24b60939-2ed0-4d79-b4ba-dd171afef8c0",
      "name": "Extract HN Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        736
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "articles",
        "updateKey": "uniqueKey",
        "fields": "content, status, enrichedAt, enrichmentOk",
        "options": {}
      },
      "id": "40763a6f-23ab-468e-9395-3634b082d89f",
      "name": "MongoDB — Update Enriched (HN)",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        288,
        736
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Articolo non-Reuters: pulisci il content da eventuale HTML e segna come ready\nreturn $input.all().map(item => {\n  const raw = item.json.content || item.json.contentSnippet || item.json.title || '';\n  const cleanContent = raw\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  return {\n    json: {\n      ...item.json,\n      content: cleanContent || item.json.title || '',\n      status: 'ready'\n    }\n  };\n});"
      },
      "id": "d7a87ea2-8db7-426c-85a4-b325c66a5e57",
      "name": "Set — Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        976
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "articles",
        "updateKey": "uniqueKey",
        "fields": "content, status",
        "options": {}
      },
      "id": "bacdee74-a8ce-4f5e-a6df-a7cbc8ce11a9",
      "name": "MongoDB — Mark Ready",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        16,
        976
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split LLM — Batches of 1": {
      "main": [
        [],
        [
          {
            "node": "Prepare LLM Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Ready Articles Found? (≥1)2": {
      "main": [
        [
          {
            "node": "Split LLM — Batches of 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop — No Ready Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split — Enrich 1 by 2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF — Is Reuters?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron — Every 20 Min": {
      "main": [
        [
          {
            "node": "MongoDB — Query Raw Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Query Raw Articles": {
      "main": [
        [
          {
            "node": "Split — Enrich 1 by 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MongoDB — Query Ready Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Query Ready Articles": {
      "main": [
        [
          {
            "node": "IF — Ready Articles Found? (≥1)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Prompt": {
      "main": [
        [
          {
            "node": "OpenRouter — LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter — LLM Request": {
      "main": [
        [
          {
            "node": "Parse LLM Response + Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response + Fallback": {
      "main": [
        [
          {
            "node": "MongoDB — Update to Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Update to Processed": {
      "main": [
        [
          {
            "node": "Log — Batch LLM Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log — Batch LLM Complete": {
      "main": [
        [
          {
            "node": "Split LLM — Batches of 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Is Reuters?": {
      "main": [
        [
          {
            "node": "HTTP — Fetch Reuters Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF — Is Hacker News?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Fetch Reuters Page": {
      "main": [
        [
          {
            "node": "Extract Reuters Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reuters Text": {
      "main": [
        [
          {
            "node": "MongoDB — Update Enriched (Reuters)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Update Enriched (Reuters)": {
      "main": [
        [
          {
            "node": "Split — Enrich 1 by 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Is Hacker News?": {
      "main": [
        [
          {
            "node": "HTTP — Fetch HN Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Fetch HN Page": {
      "main": [
        [
          {
            "node": "Extract HN Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HN Text": {
      "main": [
        [
          {
            "node": "MongoDB — Update Enriched (HN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Update Enriched (HN)": {
      "main": [
        [
          {
            "node": "Split — Enrich 1 by 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Ready": {
      "main": [
        [
          {
            "node": "MongoDB — Mark Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Mark Ready": {
      "main": [
        [
          {
            "node": "Split — Enrich 1 by 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "436e4eae-4499-4fb3-bb46-da5b36a8e701",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e4c9cb0120eadb7ee2e372a07c30ea339538530d60bf02df2415f94d5cf136b"
  },
  "nodeGroups": [],
  "id": "Kf68FQcpAAxPtljt",
  "tags": []
}