fetch articles 1.json
{
  "name": "fetch articles 1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json;\n\n  const title = (raw.title || '').toString().replace(/<[^>]*>/g, '').trim();\n  const link = (raw.link || raw.url || raw.guid || '').toString().trim();\n  if (!title || !link) continue;\n\n  const creator = (raw.creator || raw['dc:creator'] || raw.author || '').toString().trim();\n  const content = (raw.content || raw['content:encoded'] || raw.description || '').toString().replace(/<[^>]*>/g, '').trim().substring(0, 2000);\n  const contentSnippet = (raw.contentSnippet || raw.description || '').toString().replace(/<[^>]*>/g, '').trim().substring(0, 500);\n  const guid = (raw.guid || raw.id || link).toString().trim();\n  const categories = Array.isArray(raw.categories) ? raw.categories : raw.category ? [raw.category] : [];\n\n  const rawDate = raw.isoDate || raw.pubDate || raw.date || raw.published || '';\n  let isoDate = '';\n  if (rawDate) {\n    const parsed = new Date(rawDate);\n    if (!isNaN(parsed.getTime())) isoDate = parsed.toISOString();\n  }\n\n  results.push({\n    json: {\n      title,\n      url: link,\n      link,\n      creator,\n      content,\n      contentSnippet,\n      guid,\n      categories,\n      isoDate,\n      pubDate: raw.pubDate || isoDate,\n      source: 'TechCrunch',\n      category: 'tech',\n      status: 'raw',\n      createdAt: new Date().toISOString(),\n      __sourceName: 'RSS — TechCrunch'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "fcbc9a43-42a6-402c-8952-48550da46c23",
      "name": "Tag — TechCrunch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const raw = item.json;\n\n  const title = (raw.title || '').toString().replace(/<[^>]*>/g, '').trim();\n  const link = (raw.link || raw.url || raw.guid || '').toString().trim();\n  if (!title || !link) continue;\n\n  const creator = (raw.creator || raw['dc:creator'] || raw.author || '').toString().trim();\n  const content = (raw.content || raw['content:encoded'] || raw.description || '').toString().replace(/<[^>]*>/g, '').trim().substring(0, 2000);\n  const contentSnippet = (raw.contentSnippet || raw.description || '').toString().replace(/<[^>]*>/g, '').trim().substring(0, 500);\n  const guid = (raw.guid || raw.id || link).toString().trim();\n  const categories = Array.isArray(raw.categories) ? raw.categories : raw.category ? [raw.category] : [];\n\n  const rawDate = raw.isoDate || raw.pubDate || raw.date || raw.published || '';\n  let isoDate = '';\n  if (rawDate) {\n    const parsed = new Date(rawDate);\n    if (!isNaN(parsed.getTime())) isoDate = parsed.toISOString();\n  }\n\n  results.push({\n    json: {\n      title,\n      url: link,\n      link,\n      creator,\n      content,\n      contentSnippet,\n      guid,\n      categories,\n      isoDate,\n      pubDate: raw.pubDate || isoDate,\n      source: 'ANSA',\n      category: 'news-it',\n      status: 'raw',\n      createdAt: new Date().toISOString(),\n      __sourceName: 'RSS — ANSA'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "f1de9c39-e4f2-481e-a91c-ad757f490b2a",
      "name": "Tag — ANSA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        464
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "articles",
        "fields": "title, url, link, creator, content, contentSnippet, guid, categories, isoDate, pubDate, source, category, status, uniqueKey, createdAt, __sourceName",
        "options": {}
      },
      "id": "038e9b99-f98b-4381-96ba-1d36759e37a7",
      "name": "MongoDB — Save Raw Article",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        864,
        224
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "DEDUPLICAZIONE: Se uniqueKey esiste già (E11000), MongoDB rifiuta l'insert. Con continueErrorOutput il workflow non si blocca: i duplicati vanno all'output di errore, i nuovi all'output principale."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "d5b217c5-e996-43cc-9a18-73e8f00ccf9f",
      "name": "Cron Trigger (15 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        256
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "id": "23123951-3ab4-48df-9f1e-e2cf9509d893",
      "name": "RSS — TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.ansa.it/sito/ansait_rss.xml",
        "options": {}
      },
      "id": "49f7d242-0744-494d-9a2c-13f4b839c60f",
      "name": "RSS — ANSA",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.body || $input.first().json.data || '';\nconst results = [];\n\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const item = match[1];\n\n  const title = (item.match(/<title>([\\s\\S]*?)<\\/title>/) || [])[1] || '';\n  const link = (item.match(/<link>([\\s\\S]*?)<\\/link>/) || [])[1] || '';\n  const pubDate = (item.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/) || [])[1] || '';\n  const source = (item.match(/<source[^>]*>([\\s\\S]*?)<\\/source>/) || [])[1] || '';\n  const description = (item.match(/<description>([\\s\\S]*?)<\\/description>/) || [])[1] || '';\n\n  if (!title || !link) continue;\n  if (!source.toLowerCase().includes('reuters')) continue;\n\n  results.push({\n    json: {\n      title: title.replace(' - Reuters', '').trim(),\n      url: link.trim(),\n      link: link.trim(),\n      creator: '',\n      content: description.replace(/<[^>]*>/g, '').trim().substring(0, 2000),\n      contentSnippet: description.replace(/<[^>]*>/g, '').trim().substring(0, 500),\n      guid: link.trim(),\n      categories: [],\n      isoDate: pubDate ? new Date(pubDate).toISOString() : '',\n      pubDate: pubDate.trim(),\n      source: 'Reuters',\n      category: 'news',\n      status: 'raw',\n      createdAt: new Date().toISOString(),\n      __sourceName: 'RSS — Reuters'\n    }\n  });\n\n  if (results.length >= 15) break;\n}\n\nreturn results;"
      },
      "id": "8d5a27a2-241b-40de-936f-85ff42a3a0ba",
      "name": "Parse — Reuters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const xml = $input.first().json.data || $input.first().json.body || '';\nconst results = [];\n\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const item = match[1];\n\n  const title =\n    (item.match(/<title><!\\[CDATA\\[(.*?)\\]\\]><\\/title>/) || item.match(/<title>(.*?)<\\/title>/) || [])[1] || '';\n\n  const link =\n    (item.match(/<link>(.*?)<\\/link>/) || item.match(/<guid>(.*?)<\\/guid>/) || [])[1] || '';\n\n  const pubDate =\n    (item.match(/<pubDate>(.*?)<\\/pubDate>/) || [])[1] || '';\n\n  const description =\n    (item.match(/<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>/) || item.match(/<description>([\\s\\S]*?)<\\/description>/) || [])[1] || '';\n\n  if (!title || !link) continue;\n\n  results.push({\n    json: {\n      title: title.trim(),\n      url: link.trim(),\n      link: link.trim(),\n      creator: '',\n      content: description.replace(/<[^>]*>/g, '').trim().substring(0, 2000),\n      contentSnippet: description.replace(/<[^>]*>/g, '').trim().substring(0, 500),\n      guid: link.trim(),\n      categories: [],\n      isoDate: pubDate ? new Date(pubDate).toISOString() : '',\n      pubDate: pubDate.trim(),\n      source: 'Hacker News',\n      category: 'social',\n      status: 'raw',\n      createdAt: new Date().toISOString(),\n      __sourceName: 'HACKER - NEWS'\n    }\n  });\n\n  if (results.length >= 15) break;\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        304
      ],
      "id": "4f5a43bf-82c8-42be-a28b-afccf85ea92c",
      "name": "Parse — Hacker News"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept",
              "value": "application/rss+xml, application/xml, text/xml"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        304
      ],
      "id": "595c8117-f195-4603-9dee-f8b8f639a05e",
      "name": "HTTP Hacker News"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:reuters.com+technology&hl=en&gl=US&ceid=US:en",
        "responseFormat": "string",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        }
      },
      "id": "280d414f-e43b-4484-9c6c-2c8c0873dd3f",
      "name": "HTTP — Google News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        144
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "36b117c9-0a80-4fac-9fe9-769e9075a9ea",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        496,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst results = [];\n\nfor (const item of $input.all()) {\n  const { url, title } = item.json;\n  if (!url && !title) continue;\n\n  const raw = `${url}::${title}`.toLowerCase().trim();\n  const uniqueKey = crypto.createHash('sha256').update(raw).digest('hex');\n\n  results.push({ json: { ...item.json, uniqueKey } });\n}\n\nreturn results;"
      },
      "id": "3764a9c4-dd5b-4baa-b4a8-a2b0be4c80b8",
      "name": "Generate Unique Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const saved = $input.all().length;\nconsole.log(`[BriefAI W1] ✅ Articoli nuovi salvati: ${saved}`);\nreturn $input.all();"
      },
      "id": "abaeee69-4dae-48ac-ab56-119475c0e2d6",
      "name": "Log — Saved OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const duplicates = $input.all().length;\nconsole.log(`[BriefAI W1] ⚠️ Duplicati scartati (unique index): ${duplicates}`);\nreturn [];"
      },
      "id": "73016c1d-a8b6-47f0-90e3-47ff95de1fce",
      "name": "Log — Duplicates Discarded",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Tag — TechCrunch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag — ANSA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "MongoDB — Save Raw Article": {
      "main": [
        [
          {
            "node": "Log — Saved OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log — Duplicates Discarded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Trigger (15 min)": {
      "main": [
        [
          {
            "node": "RSS — TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS — ANSA",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP — Google News",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS — TechCrunch": {
      "main": [
        [
          {
            "node": "Tag — TechCrunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS — ANSA": {
      "main": [
        [
          {
            "node": "Tag — ANSA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse — Reuters": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse — Hacker News": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Hacker News": {
      "main": [
        [
          {
            "node": "Parse — Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Google News": {
      "main": [
        [
          {
            "node": "Parse — Reuters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate Unique Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Unique Key": {
      "main": [
        [
          {
            "node": "MongoDB — Save Raw Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "313f1600-d132-4fac-afa1-8349d70f8177",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e4c9cb0120eadb7ee2e372a07c30ea339538530d60bf02df2415f94d5cf136b"
  },
  "nodeGroups": [],
  "id": "9pSIH4dQ4Ra1UDJN",
  "tags": []
}