personalized feed 3.json
{
  "name": "personalized feed 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "briefai/profile/update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c35e2fd0-02ba-4083-a197-c0eb1f3950e8",
      "name": "Webhook — Update Profile",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1440,
        528
      ],
      "webhookId": "briefai-profile-webhook-001",
      "notes": "URL: POST https://TUO-DOMINIO-N8N/webhook/briefai/profile/update\nBody JSON: {\n  \"userId\": \"user123\",\n  \"macroTopics\": [\"Intelligenza Artificiale\", \"Cybersecurity\"],\n  \"keywords\": [...],\n  \"weights\": {...},\n  \"sentimentPreference\": \"all\" | \"Positive\" | \"Negative\" | \"Neutral\"\n}"
    },
    {
      "parameters": {
        "jsCode": "const body   = $input.first().json?.body || {};\nconst userId = body.userId || null;\nif (!userId) throw new Error('userId mancante');\n\nconst update = { userId, updatedAt: new Date().toISOString() };\n\n// macroTopics = topic selezionati dall'utente (hard filter)\nif (body.macroTopics)         update.macroTopics         = body.macroTopics;\nif (body.keywords)            update.keywords            = body.keywords;\nif (body.weights)             update.weights             = body.weights;\nif (body.sentimentPreference) update.sentimentPreference = body.sentimentPreference;\nif (body.preferredSources)    update.preferredSources    = body.preferredSources;\n\nreturn [{ json: update }];"
      },
      "id": "1ad111dc-6004-4a9a-bbdc-28ef8f2f2a0d",
      "name": "Prepare Profile Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        528
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "user_profiles",
        "updateKey": "userId",
        "fields": "macroTopics, keywords, weights, sentimentPreference, preferredSources, updatedAt",
        "options": {}
      },
      "id": "ed0738db-e888-4a11-bc3e-d67061c91323",
      "name": "MongoDB — Save Updated Profile",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -960,
        528
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Profilo aggiornato con successo', userId: $json.userId }) }}",
        "options": {}
      },
      "id": "35cefddb-9f3d-4163-99c5-79cfd4cd4913",
      "name": "Respond — Profile Updated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -720,
        528
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "briefai/feed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1748f1e9-299e-454b-8cc4-c6ed8efb7e87",
      "name": "Webhook — Feed Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1440,
        144
      ],
      "webhookId": "briefai-feed-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "const body   = $input.first().json?.body || {};\nconst userId = body.userId || body.user_id || null;\nconst limit  = parseInt(body.limit || '20', 10);\n\nif (!userId) throw new Error('userId mancante nella richiesta');\n\nreturn [{ json: { userId, limit } }];"
      },
      "id": "42247b36-40a4-48cd-82a4-885f4aa60100",
      "name": "Extract User Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        144
      ]
    },
    {
      "parameters": {
        "collection": "user_profiles",
        "options": {
          "limit": 1
        },
        "query": "={ \"userId\": \"{{ $('Extract User Params').first().json.userId }}\" }"
      },
      "id": "a5f31e79-78cf-4d54-a2b5-3befcfb11ac5",
      "name": "MongoDB — Fetch User Profile",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -960,
        144
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item   = $input.first().json;\nconst userId = $('Extract User Params').first().json.userId;\nconst limit  = $('Extract User Params').first().json.limit;\n\nconst MACRO_TOPICS = [\n  'Intelligenza Artificiale', 'Cybersecurity', 'Business & Finanza',\n  'Politica & Geopolitica', 'Startup & Innovazione', 'Software & Sviluppo',\n  'Scienza & Ricerca', 'Energia & Ambiente', 'Economia & Mercati',\n  'Social Media & Cultura', 'Salute & Medicina', 'Trasporti & Mobilità'\n];\n\nconst defaultWeights = Object.fromEntries(MACRO_TOPICS.map(t => [t, 1.0]));\n\nif (!item || !item.userId) {\n  console.warn(`[BriefAI W3] Profilo non trovato per userId=${userId}. Uso default.`);\n  return [{ json: {\n    userId, limit,\n    profile: {\n      macroTopics:         MACRO_TOPICS,   // default = tutti i topic\n      keywords:            [],\n      weights:             defaultWeights,\n      sentimentPreference: 'all',\n      preferredSources:    []\n    }\n  }}];\n}\n\nreturn [{ json: {\n  userId, limit,\n  profile: {\n    macroTopics:         item.macroTopics         || MACRO_TOPICS,\n    keywords:            item.keywords            || [],\n    weights:             item.weights             || defaultWeights,\n    sentimentPreference: item.sentimentPreference || 'all',\n    preferredSources:    item.preferredSources    || []\n  }\n}}];"
      },
      "id": "4b7ac739-985b-4f55-b794-5f11d8e435f7",
      "name": "Normalize Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        144
      ]
    },
    {
      "parameters": {
        "collection": "articles",
        "options": {
          "limit": 200,
          "sort": "{ \"pubDate\": -1 }"
        },
        "query": "{ \"status\": \"processed\" }"
      },
      "id": "6cade34f-e9a0-4f2e-85a0-b63aa11b6644",
      "name": "MongoDB — Fetch Enriched Articles",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        -480,
        144
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// RANKING ENGINE — BriefAI Workflow 3\n// score = weighted_interest(55%) + keyword_match(25%) + recency(15%) + source_bonus\n// HARD FILTER: vengono mostrati SOLO gli articoli appartenenti\n//              ai macroTopics selezionati dall'utente.\n// ============================================================\n\nconst profileData = $('Normalize Profile').first().json;\nconst { profile, limit } = profileData;\nconst articles = $input.all().map(i => i.json);\n\nconst now           = Date.now();\nconst MAX_AGE_HOURS = 168;\n\n// ------------------------------------------------------------------\n// HARD FILTER PER MACRO-TOPIC\n// Mostra solo articoli che matchano almeno uno dei topic selezionati.\n// Se l'utente non ha selezionato nulla (caso anomalo) mostra tutto.\n// ------------------------------------------------------------------\nconst selectedTopics = profile.macroTopics || [];\n\nconst filtered = selectedTopics.length === 0\n  ? articles\n  : articles.filter(a =>\n      (a.macroTopics || []).some(t => selectedTopics.includes(t))\n    );\n\nconsole.log(`[BriefAI W3] Articoli totali: ${articles.length} | Dopo hard filter topic: ${filtered.length} | Topic selezionati: ${selectedTopics.join(', ')}`);\n\n// ------------------------------------------------------------------\n// FUNZIONI DI SCORING\n// ------------------------------------------------------------------\nfunction recencyScore(pubDateStr) {\n  if (!pubDateStr) return 0;\n  const pub = new Date(pubDateStr).getTime();\n  if (isNaN(pub)) return 0;\n  const ageHours = (now - pub) / 3600000;\n  if (ageHours <= 0)             return 1.0;\n  if (ageHours >= MAX_AGE_HOURS) return 0.0;\n  return 1 - (ageHours / MAX_AGE_HOURS);\n}\n\nfunction keywordScore(article, keywords) {\n  if (!keywords || keywords.length === 0) return 0.5;\n  const haystack = [\n    article.title   || '',\n    article.summary || '',\n    article.content || ''\n  ].join(' ').toLowerCase();\n  let matches = 0;\n  for (const kw of keywords) {\n    if (haystack.includes(kw.toLowerCase())) matches++;\n  }\n  return Math.min(matches / keywords.length, 1.0);\n}\n\n// interestScore: usa il peso del macrotopic con score più alto tra\n// quelli dell'articolo che l'utente ha selezionato\nfunction interestScore(article, weights, selectedTopics) {\n  const articleTopics = (article.macroTopics || []).filter(t => selectedTopics.includes(t));\n  if (articleTopics.length === 0) return 0.5;\n  const scores = articleTopics.map(t => weights[t] !== undefined ? Math.min(weights[t] / 1.5, 1.0) : 0.5);\n  return Math.max(...scores);\n}\n\nfunction sentimentBonus(article, preference) {\n  if (preference === 'all') return 0.1;\n  return article.sentiment === preference ? 0.2 : 0.0;\n}\n\nfunction sourceBonus(article, preferredSources) {\n  if (!preferredSources || preferredSources.length === 0) return 0;\n  return preferredSources.includes(article.source) ? 0.1 : 0.0;\n}\n\n// ------------------------------------------------------------------\n// SCORING LOOP\n// ------------------------------------------------------------------\nconst scored = [];\n\nfor (const article of filtered) {\n  const rScore   = recencyScore(article.pubDate);\n  const kScore   = keywordScore(article, profile.keywords);\n  const iScore   = interestScore(article, profile.weights, selectedTopics);\n  const sBonus   = sentimentBonus(article, profile.sentimentPreference);\n  const srcBonus = sourceBonus(article, profile.preferredSources);\n\n  const totalScore =\n    (iScore * 0.55) +\n    (kScore * 0.25) +\n    (rScore * 0.15) +\n    sBonus          +\n    srcBonus;\n\n  scored.push({\n    data: article,\n    _score: parseFloat(totalScore.toFixed(4)),\n    _scoreBreakdown: {\n      weighted_interest: parseFloat((iScore * 0.55).toFixed(4)),\n      keyword_match:     parseFloat((kScore * 0.25).toFixed(4)),\n      recency:           parseFloat((rScore * 0.15).toFixed(4)),\n      sentiment_bonus:   parseFloat(sBonus.toFixed(4)),\n      source_bonus:      parseFloat(srcBonus.toFixed(4))\n    }\n  });\n}\n\nscored.sort((a, b) => b._score - a._score);\nconst feed = scored.slice(0, limit);\n\n// ------------------------------------------------------------------\n// RESPONSE\n// ------------------------------------------------------------------\nconst response = {\n  userId:        profileData.userId,\n  generatedAt:   new Date().toISOString(),\n  totalFetched:  articles.length,\n  totalFiltered: filtered.length,\n  totalReturned: feed.length,\n  profile: {\n    macroTopics:         selectedTopics,\n    sentimentPreference: profile.sentimentPreference\n  },\n  articles: feed.map(a => ({\n    id:             a.data.uniqueKey || a.data._id,  // ✅ FIX: uniqueKey ha priorità sull'ObjectId\n    title:          a.data.title,\n    url:            a.data.url,\n    source:         a.data.source,\n    macroTopics:    a.data.macroTopics || [],\n    pubDate:        a.data.pubDate,\n    summary:        a.data.summary,\n    sentiment:      a.data.sentiment,\n    entities:       a.data.entities    || [],\n    score:          a._score,\n    scoreBreakdown: a._scoreBreakdown\n  }))\n};\n\nreturn [{ json: response }];"
      },
      "id": "ed8c0b42-f570-4753-92e8-0ea756fa7ae1",
      "name": "Ranking Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIX BUG 7: prepara esplicitamente il campo lastFeedGeneratedAt\nconst rankingOutput = $input.first().json;\nreturn [{ json: {\n  userId:                rankingOutput.userId,\n  lastFeedGeneratedAt:   rankingOutput.generatedAt\n}}];"
      },
      "id": "efb9eb80-ee9a-40e0-a53b-150c78e76b6b",
      "name": "Prepare Timestamp Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "user_profiles",
        "updateKey": "userId",
        "fields": "lastFeedGeneratedAt",
        "options": {}
      },
      "id": "4d647be5-bd6b-4088-85d7-e177e4c837c7",
      "name": "MongoDB — Update User Feed Timestamp",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "credentials": {
        "mongoDb": {
          "id": "8H9RCjis4RCBxoSI",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Ranking Engine').first().json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-BriefAI-Version",
                "value": "1.0"
              }
            ]
          }
        }
      },
      "id": "26595e28-a03c-472d-8e8b-733cd8ba5121",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Update Profile": {
      "main": [
        [
          {
            "node": "Prepare Profile Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Profile Update": {
      "main": [
        [
          {
            "node": "MongoDB — Save Updated Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Save Updated Profile": {
      "main": [
        [
          {
            "node": "Respond — Profile Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Feed Request": {
      "main": [
        [
          {
            "node": "Extract User Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Params": {
      "main": [
        [
          {
            "node": "MongoDB — Fetch User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Fetch User Profile": {
      "main": [
        [
          {
            "node": "Normalize Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Profile": {
      "main": [
        [
          {
            "node": "MongoDB — Fetch Enriched Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB — Fetch Enriched Articles": {
      "main": [
        [
          {
            "node": "Ranking Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ranking Engine": {
      "main": [
        [
          {
            "node": "Prepare Timestamp Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Timestamp Update": {
      "main": [
        [
          {
            "node": "MongoDB — Update User Feed Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ec036aab-5b47-4373-9919-a7242df85c05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e4c9cb0120eadb7ee2e372a07c30ea339538530d60bf02df2415f94d5cf136b"
  },
  "nodeGroups": [],
  "id": "lTJvZBGmhZtZwr9z",
  "tags": []
}